
# Created by https://www.gitignore.io/api/vim,linux,macos,python

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Custom options
# Remove genrated figures
/latent_figures

# Remove .mat files from the root folder
/*.mat
/ieva_data/toy_data0_L24.mat
/ieva_data/toy_data100_L24.mat
/ieva_data/toy_data101_L24.mat
/ieva_data/toy_data102_L24.mat
/ieva_data/toy_data103_L24.mat
/ieva_data/toy_data104_L24.mat
/ieva_data/toy_data105_L24.mat
/ieva_data/toy_data106_L24.mat
/ieva_data/toy_data107_L24.mat
/ieva_data/toy_data108_L24.mat
/ieva_data/toy_data109_L24.mat
/ieva_data/toy_data10_L24.mat
/ieva_data/toy_data110_L24.mat
/ieva_data/toy_data111_L24.mat
/ieva_data/toy_data112_L24.mat
/ieva_data/toy_data113_L24.mat
/ieva_data/toy_data114_L24.mat
/ieva_data/toy_data115_L24.mat
/ieva_data/toy_data116_L24.mat
/ieva_data/toy_data117_L24.mat
/ieva_data/toy_data118_L24.mat
/ieva_data/toy_data119_L24.mat
/ieva_data/toy_data11_L24.mat
/ieva_data/toy_data120_L24.mat
/ieva_data/toy_data121_L24.mat
/ieva_data/toy_data122_L24.mat
/ieva_data/toy_data123_L24.mat
/ieva_data/toy_data124_L24.mat
/ieva_data/toy_data125_L24.mat
/ieva_data/toy_data126_L24.mat
/ieva_data/toy_data127_L24.mat
/ieva_data/toy_data128_L24.mat
/ieva_data/toy_data129_L24.mat
/ieva_data/toy_data12_L24.mat
/ieva_data/toy_data130_L24.mat
/ieva_data/toy_data131_L24.mat
/ieva_data/toy_data132_L24.mat
/ieva_data/toy_data133_L24.mat
/ieva_data/toy_data134_L24.mat
/ieva_data/toy_data135_L24.mat
/ieva_data/toy_data136_L24.mat
/ieva_data/toy_data137_L24.mat
/ieva_data/toy_data138_L24.mat
/ieva_data/toy_data139_L24.mat
/ieva_data/toy_data13_L24.mat
/ieva_data/toy_data140_L24.mat
/ieva_data/toy_data141_L24.mat
/ieva_data/toy_data142_L24.mat
/ieva_data/toy_data143_L24.mat
/ieva_data/toy_data144_L24.mat
/ieva_data/toy_data145_L24.mat
/ieva_data/toy_data146_L24.mat
/ieva_data/toy_data147_L24.mat
/ieva_data/toy_data148_L24.mat
/ieva_data/toy_data149_L24.mat
/ieva_data/toy_data14_L24.mat
/ieva_data/toy_data150_L24.mat
/ieva_data/toy_data151_L24.mat
/ieva_data/toy_data152_L24.mat
/ieva_data/toy_data153_L24.mat
/ieva_data/toy_data154_L24.mat
/ieva_data/toy_data155_L24.mat
/ieva_data/toy_data156_L24.mat
/ieva_data/toy_data157_L24.mat
/ieva_data/toy_data158_L24.mat
/ieva_data/toy_data159_L24.mat
/ieva_data/toy_data15_L24.mat
/ieva_data/toy_data160_L24.mat
/ieva_data/toy_data161_L24.mat
/ieva_data/toy_data162_L24.mat
/ieva_data/toy_data163_L24.mat
/ieva_data/toy_data164_L24.mat
/ieva_data/toy_data165_L24.mat
/ieva_data/toy_data166_L24.mat
/ieva_data/toy_data167_L24.mat
/ieva_data/toy_data168_L24.mat
/ieva_data/toy_data169_L24.mat
/ieva_data/toy_data16_L24.mat
/ieva_data/toy_data170_L24.mat
/ieva_data/toy_data171_L24.mat
/ieva_data/toy_data172_L24.mat
/ieva_data/toy_data173_L24.mat
/ieva_data/toy_data174_L24.mat
/ieva_data/toy_data175_L24.mat
/ieva_data/toy_data176_L24.mat
/ieva_data/toy_data177_L24.mat
/ieva_data/toy_data178_L24.mat
/ieva_data/toy_data179_L24.mat
/ieva_data/toy_data17_L24.mat
/ieva_data/toy_data180_L24.mat
/ieva_data/toy_data181_L24.mat
/ieva_data/toy_data182_L24.mat
/ieva_data/toy_data183_L24.mat
/ieva_data/toy_data184_L24.mat
/ieva_data/toy_data185_L24.mat
/ieva_data/toy_data186_L24.mat
/ieva_data/toy_data187_L24.mat
/ieva_data/toy_data188_L24.mat
/ieva_data/toy_data189_L24.mat
/ieva_data/toy_data18_L24.mat
/ieva_data/toy_data190_L24.mat
/ieva_data/toy_data191_L24.mat
/ieva_data/toy_data192_L24.mat
/ieva_data/toy_data193_L24.mat
/ieva_data/toy_data194_L24.mat
/ieva_data/toy_data195_L24.mat
/ieva_data/toy_data196_L24.mat
/ieva_data/toy_data197_L24.mat
/ieva_data/toy_data198_L24.mat
/ieva_data/toy_data199_L24.mat
/ieva_data/toy_data19_L24.mat
/ieva_data/toy_data1_L24.mat
/ieva_data/toy_data200_L24.mat
/ieva_data/toy_data201_L24.mat
/ieva_data/toy_data202_L24.mat
/ieva_data/toy_data203_L24.mat
/ieva_data/toy_data204_L24.mat
/ieva_data/toy_data205_L24.mat
/ieva_data/toy_data206_L24.mat
/ieva_data/toy_data207_L24.mat
/ieva_data/toy_data208_L24.mat
/ieva_data/toy_data209_L24.mat
/ieva_data/toy_data20_L24.mat
/ieva_data/toy_data210_L24.mat
/ieva_data/toy_data211_L24.mat
/ieva_data/toy_data212_L24.mat
/ieva_data/toy_data213_L24.mat
/ieva_data/toy_data214_L24.mat
/ieva_data/toy_data215_L24.mat
/ieva_data/toy_data216_L24.mat
/ieva_data/toy_data217_L24.mat
/ieva_data/toy_data218_L24.mat
/ieva_data/toy_data219_L24.mat
/ieva_data/toy_data21_L24.mat
/ieva_data/toy_data220_L24.mat
/ieva_data/toy_data221_L24.mat
/ieva_data/toy_data222_L24.mat
/ieva_data/toy_data223_L24.mat
/ieva_data/toy_data224_L24.mat
/ieva_data/toy_data225_L24.mat
/ieva_data/toy_data226_L24.mat
/ieva_data/toy_data227_L24.mat
/ieva_data/toy_data228_L24.mat
/ieva_data/toy_data229_L24.mat
/ieva_data/toy_data22_L24.mat
/ieva_data/toy_data230_L24.mat
/ieva_data/toy_data231_L24.mat
/ieva_data/toy_data232_L24.mat
/ieva_data/toy_data233_L24.mat
/ieva_data/toy_data234_L24.mat
/ieva_data/toy_data235_L24.mat
/ieva_data/toy_data236_L24.mat
/ieva_data/toy_data237_L24.mat
/ieva_data/toy_data238_L24.mat
/ieva_data/toy_data239_L24.mat
/ieva_data/toy_data23_L24.mat
/ieva_data/toy_data240_L24.mat
/ieva_data/toy_data241_L24.mat
/ieva_data/toy_data242_L24.mat
/ieva_data/toy_data243_L24.mat
/ieva_data/toy_data244_L24.mat
/ieva_data/toy_data245_L24.mat
/ieva_data/toy_data246_L24.mat
/ieva_data/toy_data247_L24.mat
/ieva_data/toy_data248_L24.mat
/ieva_data/toy_data249_L24.mat
/ieva_data/toy_data24_L24.mat
/ieva_data/toy_data250_L24.mat
/ieva_data/toy_data251_L24.mat
/ieva_data/toy_data252_L24.mat
/ieva_data/toy_data253_L24.mat
/ieva_data/toy_data254_L24.mat
/ieva_data/toy_data255_L24.mat
/ieva_data/toy_data256_L24.mat
/ieva_data/toy_data257_L24.mat
/ieva_data/toy_data258_L24.mat
/ieva_data/toy_data259_L24.mat
/ieva_data/toy_data25_L24.mat
/ieva_data/toy_data260_L24.mat
/ieva_data/toy_data261_L24.mat
/ieva_data/toy_data262_L24.mat
/ieva_data/toy_data263_L24.mat
/ieva_data/toy_data264_L24.mat
/ieva_data/toy_data265_L24.mat
/ieva_data/toy_data266_L24.mat
/ieva_data/toy_data267_L24.mat
/ieva_data/toy_data268_L24.mat
/ieva_data/toy_data269_L24.mat
/ieva_data/toy_data26_L24.mat
/ieva_data/toy_data270_L24.mat
/ieva_data/toy_data271_L24.mat
/ieva_data/toy_data272_L24.mat
/ieva_data/toy_data273_L24.mat
/ieva_data/toy_data274_L24.mat
/ieva_data/toy_data275_L24.mat
/ieva_data/toy_data276_L24.mat
/ieva_data/toy_data277_L24.mat
/ieva_data/toy_data278_L24.mat
/ieva_data/toy_data279_L24.mat
/ieva_data/toy_data27_L24.mat
/ieva_data/toy_data280_L24.mat
/ieva_data/toy_data281_L24.mat
/ieva_data/toy_data282_L24.mat
/ieva_data/toy_data283_L24.mat
/ieva_data/toy_data284_L24.mat
/ieva_data/toy_data285_L24.mat
/ieva_data/toy_data286_L24.mat
/ieva_data/toy_data287_L24.mat
/ieva_data/toy_data288_L24.mat
/ieva_data/toy_data289_L24.mat
/ieva_data/toy_data28_L24.mat
/ieva_data/toy_data290_L24.mat
/ieva_data/toy_data291_L24.mat
/ieva_data/toy_data292_L24.mat
/ieva_data/toy_data293_L24.mat
/ieva_data/toy_data294_L24.mat
/ieva_data/toy_data295_L24.mat
/ieva_data/toy_data296_L24.mat
/ieva_data/toy_data297_L24.mat
/ieva_data/toy_data298_L24.mat
/ieva_data/toy_data299_L24.mat
/ieva_data/toy_data29_L24.mat
/ieva_data/toy_data2_L24.mat
/ieva_data/toy_data300_L24.mat
/ieva_data/toy_data301_L24.mat
/ieva_data/toy_data302_L24.mat
/ieva_data/toy_data303_L24.mat
/ieva_data/toy_data304_L24.mat
/ieva_data/toy_data305_L24.mat
/ieva_data/toy_data306_L24.mat
/ieva_data/toy_data307_L24.mat
/ieva_data/toy_data308_L24.mat
/ieva_data/toy_data309_L24.mat
/ieva_data/toy_data30_L24.mat
/ieva_data/toy_data310_L24.mat
/ieva_data/toy_data311_L24.mat
/ieva_data/toy_data312_L24.mat
/ieva_data/toy_data313_L24.mat
/ieva_data/toy_data314_L24.mat
/ieva_data/toy_data315_L24.mat
/ieva_data/toy_data316_L24.mat
/ieva_data/toy_data317_L24.mat
/ieva_data/toy_data318_L24.mat
/ieva_data/toy_data319_L24.mat
/ieva_data/toy_data31_L24.mat
/ieva_data/toy_data320_L24.mat
/ieva_data/toy_data321_L24.mat
/ieva_data/toy_data322_L24.mat
/ieva_data/toy_data323_L24.mat
/ieva_data/toy_data324_L24.mat
/ieva_data/toy_data325_L24.mat
/ieva_data/toy_data326_L24.mat
/ieva_data/toy_data327_L24.mat
/ieva_data/toy_data328_L24.mat
/ieva_data/toy_data329_L24.mat
/ieva_data/toy_data32_L24.mat
/ieva_data/toy_data330_L24.mat
/ieva_data/toy_data331_L24.mat
/ieva_data/toy_data332_L24.mat
/ieva_data/toy_data333_L24.mat
/ieva_data/toy_data334_L24.mat
/ieva_data/toy_data335_L24.mat
/ieva_data/toy_data336_L24.mat
/ieva_data/toy_data337_L24.mat
/ieva_data/toy_data338_L24.mat
/ieva_data/toy_data339_L24.mat
/ieva_data/toy_data33_L24.mat
/ieva_data/toy_data340_L24.mat
/ieva_data/toy_data341_L24.mat
/ieva_data/toy_data342_L24.mat
/ieva_data/toy_data343_L24.mat
/ieva_data/toy_data344_L24.mat
/ieva_data/toy_data345_L24.mat
/ieva_data/toy_data346_L24.mat
/ieva_data/toy_data347_L24.mat
/ieva_data/toy_data348_L24.mat
/ieva_data/toy_data349_L24.mat
/ieva_data/toy_data34_L24.mat
/ieva_data/toy_data350_L24.mat
/ieva_data/toy_data351_L24.mat
/ieva_data/toy_data352_L24.mat
/ieva_data/toy_data353_L24.mat
/ieva_data/toy_data354_L24.mat
/ieva_data/toy_data355_L24.mat
/ieva_data/toy_data356_L24.mat
/ieva_data/toy_data357_L24.mat
/ieva_data/toy_data358_L24.mat
/ieva_data/toy_data359_L24.mat
/ieva_data/toy_data35_L24.mat
/ieva_data/toy_data360_L24.mat
/ieva_data/toy_data361_L24.mat
/ieva_data/toy_data362_L24.mat
/ieva_data/toy_data363_L24.mat
/ieva_data/toy_data364_L24.mat
/ieva_data/toy_data365_L24.mat
/ieva_data/toy_data366_L24.mat
/ieva_data/toy_data367_L24.mat
/ieva_data/toy_data368_L24.mat
/ieva_data/toy_data369_L24.mat
/ieva_data/toy_data36_L24.mat
/ieva_data/toy_data370_L24.mat
/ieva_data/toy_data371_L24.mat
/ieva_data/toy_data372_L24.mat
/ieva_data/toy_data373_L24.mat
/ieva_data/toy_data374_L24.mat
/ieva_data/toy_data375_L24.mat
/ieva_data/toy_data376_L24.mat
/ieva_data/toy_data377_L24.mat
/ieva_data/toy_data378_L24.mat
/ieva_data/toy_data379_L24.mat
/ieva_data/toy_data37_L24.mat
/ieva_data/toy_data380_L24.mat
/ieva_data/toy_data381_L24.mat
/ieva_data/toy_data382_L24.mat
/ieva_data/toy_data383_L24.mat
/ieva_data/toy_data384_L24.mat
/ieva_data/toy_data385_L24.mat
/ieva_data/toy_data386_L24.mat
/ieva_data/toy_data387_L24.mat
/ieva_data/toy_data388_L24.mat
/ieva_data/toy_data389_L24.mat
/ieva_data/toy_data38_L24.mat
/ieva_data/toy_data390_L24.mat
/ieva_data/toy_data391_L24.mat
/ieva_data/toy_data392_L24.mat
/ieva_data/toy_data393_L24.mat
/ieva_data/toy_data394_L24.mat
/ieva_data/toy_data395_L24.mat
/ieva_data/toy_data396_L24.mat
/ieva_data/toy_data397_L24.mat
/ieva_data/toy_data398_L24.mat
/ieva_data/toy_data399_L24.mat
/ieva_data/toy_data39_L24.mat
/ieva_data/toy_data3_L24.mat
/ieva_data/toy_data400_L24.mat
/ieva_data/toy_data40_L24.mat
/ieva_data/toy_data41_L24.mat
/ieva_data/toy_data42_L24.mat
/ieva_data/toy_data43_L24.mat
/ieva_data/toy_data44_L24.mat
/ieva_data/toy_data45_L24.mat
/ieva_data/toy_data46_L24.mat
/ieva_data/toy_data47_L24.mat
/ieva_data/toy_data48_L24.mat
/ieva_data/toy_data49_L24.mat
/ieva_data/toy_data4_L24.mat
/ieva_data/toy_data50_L24.mat
/ieva_data/toy_data51_L24.mat
/ieva_data/toy_data52_L24.mat
/ieva_data/toy_data53_L24.mat
/ieva_data/toy_data54_L24.mat
/ieva_data/toy_data55_L24.mat
/ieva_data/toy_data56_L24.mat
/ieva_data/toy_data57_L24.mat
/ieva_data/toy_data58_L24.mat
/ieva_data/toy_data59_L24.mat
/ieva_data/toy_data5_L24.mat
/ieva_data/toy_data60_L24.mat
/ieva_data/toy_data61_L24.mat
/ieva_data/toy_data62_L24.mat
/ieva_data/toy_data63_L24.mat
/ieva_data/toy_data64_L24.mat
/ieva_data/toy_data65_L24.mat
/ieva_data/toy_data66_L24.mat
/ieva_data/toy_data67_L24.mat
/ieva_data/toy_data68_L24.mat
/ieva_data/toy_data69_L24.mat
/ieva_data/toy_data6_L24.mat
/ieva_data/toy_data70_L24.mat
/ieva_data/toy_data71_L24.mat
/ieva_data/toy_data72_L24.mat
/ieva_data/toy_data73_L24.mat
/ieva_data/toy_data74_L24.mat
/ieva_data/toy_data75_L24.mat
/ieva_data/toy_data76_L24.mat
/ieva_data/toy_data77_L24.mat
/ieva_data/toy_data78_L24.mat
/ieva_data/toy_data79_L24.mat
/ieva_data/toy_data7_L24.mat
/ieva_data/toy_data80_L24.mat
/ieva_data/toy_data81_L24.mat
/ieva_data/toy_data82_L24.mat
/ieva_data/toy_data83_L24.mat
/ieva_data/toy_data84_L24.mat
/ieva_data/toy_data85_L24.mat
/ieva_data/toy_data86_L24.mat
/ieva_data/toy_data87_L24.mat
/ieva_data/toy_data88_L24.mat
/ieva_data/toy_data89_L24.mat
/ieva_data/toy_data8_L24.mat
/ieva_data/toy_data90_L24.mat
/ieva_data/toy_data91_L24.mat
/ieva_data/toy_data92_L24.mat
/ieva_data/toy_data93_L24.mat
/ieva_data/toy_data94_L24.mat
/ieva_data/toy_data95_L24.mat
/ieva_data/toy_data96_L24.mat
/ieva_data/toy_data97_L24.mat
/ieva_data/toy_data98_L24.mat
/ieva_data/toy_data99_L24.mat
/ieva_data/toy_data9_L24.mat
/ieva_data/toy_data_L24_q.mat
ieva_data/
/timeline_01.json.ctf.json
/trace_1000it.ctf.json
/trace_1it.ctf.json

# remove checkpoints folder
checkpoints
